<main >
    <div class="container">
        <h1>Actualice su contraseña</h1>
        <form {{!-- action="/api/sessions/login" method="POST" --}} class="form-group w-50" id="changePasswordForm">
                <label for="password">Nueva Contraseña</label>
                <input name="password" type="password" class="form-control">
                <label for="repite-password">Repita Contraseña</label>
                <input name="repite-password" type="password" class="form-control">
                <div id="errorMessage" class="d-flex justify-content-center"></div>
                <button type="submit" class="btn btn-outline-dark w-100 mt-3">Enviar</button>
        </form>
   </div>
</main>
<script src="/js/changePassword.js" ></script>