<main>
    <h1>{{title}}</h1>
    <div>
        <input type="text" name="chatBox" id="chatBox">
    </div>
    <div>
        <ul id="messageLog"></ul>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</main>