<main >
    <div class="d-flex justify-content-center">
        <h1 class="p-2 mt-2">El link ha expirado. Solicite uno nuevo</h1>
    </div>
    <div class="d-flex justify-content-center">
        <a class="p-2 mt-2" href="/passwordRecovery">Solicitar nuevo link</a>
   </div>
</main>