<main >
    <div class="container">
        <h1>Recupero de contraseña</h1>
        <form {{!-- action="/api/sessions/login" method="POST" --}} class="form-group w-50" id="sendRecoveryMailForm">
                <label for="email">Coloque su E-mail</label>
                <input name="email" type="email" class="form-control">
                <button type="submit" class="btn btn-outline-dark w-100 mt-3">Enviar</button>
        </form>
   </div>
</main>

<script src="/js/passwordRecovery.js" ></script>