h1 {
    color: blue;
}

#productsContainer{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.productContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    min-width: 200x;
    height: 270px;
    border: 2px solid black;
}

.mainContainer {
    display: grid;
            grid-template-columns: 3fr 1fr;
            background: center;
            background-size: cover;
            height: 100vh;

}


#formulario-cargaMasiva{
    margin-top: 127px;
}

.formularios{
    margin: 20px;
    border: 2px solid black;
}

.formularios > * {
    display: block;
    margin: 10px;
}

.upDateform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px; 
    height: 430px; 
    background-color: #a8a8a8; 
    border: 2px solid black;
}

#formulario-actualizacion > * {
    display: block;
    margin: 10px;
}

